* { 
    display: block; 
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#f110cc,#581699,#470888,#2a1144);
}

.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}

.profile-menu .fa-fw {
    margin-right: 10px;
}

.toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "Roboto";
}
        
.navbar-brand{
    font-weight: 100;
}

.nav-item{
    font-weight: 500;
    letter-spacing: 3px;
}
        
.bg-purple{
    background-color: #2a1144;
}

.bg-pink-half{
    background-color: #b9009a9e;
}
